* {
    font-family: 'Bree serif', sans-serif;
}

body {
    background-image: url("Images/bg.png");
}

/* HEADER */
.header {
    width: 100%;
    color: #E64812;
    text-shadow:#FED303 1px 1px 1px;
    text-align:center;
}

.header h1 {
    font-size:60px;
    
}

.header .material-symbols-outlined {
    color: #FED303;
    vertical-align: -5px; 
    font-size:55px;
}
nav {
    margin-left:25%;
    font-size: 25px;
    margin-bottom:40px;
}
#NavBar li {
    color:white;
}

/* {
    background-color:#E64812 ;
    text-shadow: 1px 1px 1px black;
}  */

/* BOUTONS */
.order {
    background-color: #E64812;
    color:white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    border-radius: 5px;
    width:90%;
    border:#E64812;
    font-size:18px;
}

.hovered:hover{
    background-color: white;
    color:#E64812;
    text-shadow: 1px 1px 1px black ;
    border-radius: 5px;
    
    
}

.order:hover{
    border:#E64812 1px solid;
}

.menu {
    background: none;
    border:none;
    color:white;
}

li .active {
    background-color: #E64812;
    color: white;
   
    text-shadow: 1px 1px 1px black;
    border-radius: 5px;
} 

/* ARTICLES */

button .material-symbols-outlined{
    display: inline-block;
    vertical-align: -2px;
    font-size:20px;
}
.describe {
    font-weight: bolder;
}
.name {
    color:#E64812;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase; 
    margin-left: 3%; 
}
.recipe {
    color:black;
    text-transform: uppercase;
    font-size: 18px; 
    margin-left: 3%; 
}
.img-thumbnail{
    width:10%;
}

.row {
    width:60%;
}
.img-fluid {
    background-color: #FED303;
    border-radius: 3px;
} 

.price{
    position:relative;
    background-color: #59B661;
    font-size:25px;
    color:white;
    text-shadow: 2px 2px 2px black;
    border-radius: 5px;
    margin-left:80%;
    width: 25%; 
    text-align: center; 
    margin-top:-70%;
    margin-bottom:60%;
}


  