/* GENERAL */
*{color:black; ; margin:0; }
 a {text-decoration: none}



/* HEADER */ 
header {background-color: white; height: 120px; ;}
header a:hover{color:orange;}
a:visited{text-decoration: none;}
header h1{ float:left; font-size:45px; margin-top:32px; margin-left: 10px;}
header nav{float:right; margin-top:50px; }
header nav ul li { float:left; margin-right:20px;}

.container{width:940px; margin:0 auto; padding:0 10px;}
.point{color:orange}

/*BODY*/
body{font-size:15px; font-family:Arial,sans-serif;}
ul{list-style: none;}
h1 {font-family: "Crete Round";}

#titre{ padding:150px 0 40px 0; font-size: 55px; font-weight: normal;}

#main {height:500px; background: url(Images/main.jpg) center ; text-align: center;}
#step {height:300px; margin-top: 100px; }
.Button {background-color: orange; color: white ; font-size: 15px; padding:10px 30px; margin-top: 120px;}
#gauche{ background: url(Images/steps-icon-1.png) no-repeat top center; } 
#centre{ background: url(Images/steps-icon-2.png) no-repeat top center;}
#droite{ background: url(Images/steps-icon-3.png) no-repeat top center;}
#step ul li{float:left; width:300px;  padding-top: 120px; text-align: center; }
#step h4 {margin-bottom: 20px;font-size: 30px;}

#possible {height: 300px;  background-color:  rgb(219, 219, 219); text-align: center;}
#possible h1 {font-size: 25px; margin-bottom: 20px; border-bottom: solid grey 2px; padding-bottom: 20px; padding-top: 15px; width:88%; margin-inline: auto;}
#possible p {font-style: italic; padding : 0 20px;margin-bottom: 30px; line-height: 20px;}
#possible a {color: white; background-color: orange; padding: 10px; border-radius: 3px;}
article { height:300px; width: 450px;   margin-top:20px; margin-bottom:20px; border-radius: 10px;}
#premier {background: url(Images/article-image-1.jpg) no-repeat  ;float:left;  box-sizing: border-box; }
#second {background: url(Images/article-image-2.jpg) no-repeat ;float:right; box-sizing: border-box;}
.over {background-color: rgba(245, 245, 245, 0.93); width: 60% ; height:90%; border-radius: 10px 0 0 10px ;}


#contact h1 {border-bottom: solid 3px rgb(76, 189, 255);  padding-bottom: 25px; margin-bottom: 25px; font-size: 40px; padding-left: 50px; width: 600px; margin-inline: auto; margin-top: 50px;}
#contact label {font-weight: bold; font-size: 25px; padding-left: 10px; padding-right: 5px;}
#contact input {font-size: 20px; border-radius: 5px; padding: 5px;}
#contact {text-align: center;   height: 360px;}
#contact a {display:inline-block ; background-color: rgb(112, 177, 238); padding: 8px;  color:white; margin-left: 10px; }
#contact p {padding-bottom: 50px; }


/*FOOTER */
footer {height: 240px; background-color: rgb(59, 58, 58); text-align: center;}
footer p {color:rgb(163, 163, 163); margin-top: 30px;}
footer h1 {color:white; font-size: 40px; padding-top: 60px; } 