body {
    background-color: #0168D5;
}

h3 {
    text-align: center;
    color : white;
    margin-top: 20px;
}
div {
    background-color:white; 
    border-radius:5px;  
}

label {
    font-weight: bold; 
    margin-right: 10px; 
}

span {
   color:#0168D5; 
}

button {
    background-color: #FFA503;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    width: 90%;
    height: 70px;
    font-size: large;
    
}
a {
    display: inline-flex;
    
}


.divider {
    width: 100px;
    height: 2px;
    background-color: white;
    margin: 0 auto 20px;   
}

section .heading {
    text-align: center;
    padding-bottom: 40px;
    color : white;
    background-color: #0168D5;
}
section {
    padding: 65px 0 80px 0;
}

section .heading {
    text-align: center;
    padding-bottom: 40px;
}

.merci {
    font-size:20px;
    color: black;
    text-align:center;
    font-weight:bold;
}

.upper {
    text-transform:uppercase;
    color:black;
}

.comments{
    color:red;
    font-style:italic;
}

.manque {
    font-size:20px;
    color: rgb(122, 7, 7);
    text-align:center;
    font-weight:bolder;
}